<!-- get  all the cdn links  -->
<%- include('./partials/fontAwesome.ejs')%>
<!-- get  the header of the articles page  -->
<%-include('./partials/header.ejs')%>
<main>
  <section class="singleArticle px-[6%]">
    <article>
      <h2 class="text-4xl font-bold"><%= article.title%></h2>
      <div class="additonal-infomation flex justify-between items-center py-10">
        <p class="text-xl">Author name : <span><%= article.author%></span></p>
        <div class="like-dislike-container flex justify-between">
          <p class="text-xl text-xl">
            Total likes : <span><%= article.likes%></span>
          </p>
          <a href="/articles/<%=article.slug%>/like" class="mx-5"
            ><i class="fas fa-thumbs-up text-xl"></i
          ></a>
          <a href="/articles/<%=article.slug%>/dislike" class="mx-5"
            ><i class="fas fa-thumbs-down text-xl"></i>
          </a>
        </div>
      </div>
      <p class="text-2xl my-20"><%= article.description%></p>
    </article>
    <div class="comment-container">
      <form
        action="/articles/<%=article._id%>/<%=article.slug%>/comment"
        method="POST"
      >
        <input
          type="text"
          name="author"
          id="author"
          placeholder="enter the authorname here"
        />
        <textarea name="content" id="content" cols="30" rows="5">
                enter  the comment here 
         </textarea
        >
        <button type="submit">submit</button>
      </form>
    </div>

    <!-- show all the comments related to that  article   -->
    <div class="comment-contaier">
      <% article.comments.forEach(cv=>{ %>
      <div class="comment-container">
        <p><%= cv.content%></p>
      </div>
      <% })%>
    </div>
  </section>
</main>
